body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.nav-tabs {
  justify-content: center;
  margin-bottom: 1.5rem;
}

table {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#generate-menu-button {
  display: block;
  margin: 1.5rem auto;
}

/* Media queries for iPhone and iPad */
@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 1.5rem;
  }
}

#shoplist-title {
  text-align: center;
  padding: 10px;
}

.accordion {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Dark mode styles 
body {
  background-color: #222;
  color: #f0f0f0;
}

h2 {
  color: #f0f0f0;
}

.table {
  background-color: #333;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #444;
}

.table thead th {
  border-bottom-color: #444;
}

.table-hover tbody tr:hover {
  background-color: #555;
}

.card {
  background-color: #333;
  border-color: #444;
}

.card-header {
  background-color: #444;
}

.card-body {
  background-color: #333;
}*/